@import "tailwindcss";

@layer components {
  .animes-cards-container {
    @apply grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-6 mt-10;
  }

  .anime-card {
    @apply bg-white rounded-xl shadow-md overflow-hidden h-100 hover:scale-105 transition-transform duration-300 ease-in-out cursor-pointer;
  }

  .img-wrapper {
    @apply w-full h-full object-cover;
  }

  .content {
    @apply h-1/4 p-4 flex flex-col justify-between bg-gray-800 text-white;
  }

  .title {
    @apply font-bold text-lg truncate;
  }

  .details {
    @apply flex justify-start items-center  gap-4 text-xs text-gray-400;
  }
}
