@font-face {
  font-family: Sekuya;
  src: url("../../assets/fonts/Sekuya/Sekuya-Regular.ttf");
}

@import "tailwindcss";

@theme {
  --font-sekuya: Sekuya, "sans-serief";
}

@layer components {
  .header-wrapper {
    @apply mt-5 font-sekuya flex flex-col justify-center gap-3 md:flex-row md:text-2xl md:gap-4;
  }
  .header-style {
    @apply text-emerald-400 text-xl md:text-4xl;
  }
}
